@(pager: Pager[Parent])(implicit flash: play.api.mvc.Flash)

@main(pager.title)(flash) {

    <ul class="pagination pagination-right">
      <li><a class="btn btn-middiam" href="@routes.Application.createParent(pager.pageNum)">親レコードを作成</a></li>
      <li class="@if(pager.pageNum==1){active}"><a href="@routes.Application.index(1)">&laquo;</a></li>
      @for(page <- pager.pageNumList){<li class="@if(pager.pageNum==page){active}"><a href="@routes.Application.index(page)">@page</a></li>}
      <li class="@if(pager.pageNum==pager.maxPageRowCount){active}"><a href="@routes.Application.index(pager.maxPageRowCount)">&raquo;</a></li>
    </ul>

    <table class="table table-bordered">
      <thead>
        <th>Parent Name</th>
        <th>Child's Name</th>
      </thead>
      <tbody>
      @for(parent <- pager.dataList){
        <tr>
          <td>
              No.@parent.id&nbsp;@parent.name<br />
              <a class="btn btn-middiam" href="@routes.Application.editParent(pager.pageNum, parent.id.get)">更新</a>
              &nbsp;|&nbsp;
              <a class="btn btn-middiam" href="@routes.Application.deleteParent(pager.pageNum, parent.id.get)">削除</a>
              &nbsp;|&nbsp;
              <a class="btn btn-middiam" href="@routes.Application.createChild(pager.pageNum, parent.id.get)">子レコードを作成</a>
          </td>
          <td>
            <table class="table table-bordered">
              <tbody>
                @for(child <- parent.childList){
                <tr>
                  <td>
                      @parent.name&nbsp;|&nbsp;No.@child.id&nbsp;@child.name<br />
                      <a class="btn btn-middiam" href="@routes.Application.editChild(pager.pageNum, child.id.get)">更新</a>
                      &nbsp;|&nbsp;
                      <a class="btn btn-middiam" href="@routes.Application.deleteChild(pager.pageNum, child.id.get)">削除</a>
                  </td>
                </tr>
                }
              </tbody>
            </table>
          </td>
        </tr>
      }
      </tbody>
    </table>

    <ul class="pagination pagination-right">
      <li><a class="btn btn-middiam" href="@routes.Application.createParent(pager.pageNum)">親レコードを作成</a></li>
      <li class="@if(pager.pageNum==1){active}"><a href="@routes.Application.index(1)">&laquo;</a></li>
      @for(page <- pager.pageNumList){<li class="@if(pager.pageNum==page){active}"><a href="@routes.Application.index(page)">@page</a></li>}
      <li class="@if(pager.pageNum==pager.maxPageRowCount){active}"><a href="@routes.Application.index(pager.maxPageRowCount)">&raquo;</a></li>
    </ul>

}
